.calendar-icn i {
    color: #0B8D43;
}

.post-jobs-logout {
    background: #d6454f none repeat scroll 0 0;
}

.post-jobs-logout:hover {
    background: #c82333 none repeat scroll 0 0;
}

.main-comment {
    font-size: 14px;
    padding: 30px 0 0 0;
    position: relative;
}

#activePagePaginator:hover {
    color: white;
}

#warningFormat {
    color: red;
}

.presentationSocietyText {
    color: #006298;
    font-size: 1.2em;
}

.presentationSocietyTitle {
    color: #006298!important;
}

.site-heading-custom {
    width: 75%;
}

.section_100 {
    padding: 125px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 25px;
}

.jobguru-header-area.stick-top.sticky .stick-logo {
    height: 75px;
    position: fixed;
    top: 0;
    left: 80px;
}

.single-footer-widget i {
    color: dodgerblue!important;
}

.submitApplication:hover {
    background-color: dodgerblue;
}

.submitLogin:hover {
    background-color: dodgerblue;
}

.checkbox-spin {
    display: none!important;
}

.hideDiv {
    display: none;
}

.ui-autocomplete-loading {
    background: url("../img/loading.gif") no-repeat right center;
    background-size: 16px 16px;
}

.single-candidate-action a.candidate-contact {
    border-color: white;
}

.jobGridTitle {
    font-size: 2em!important;
}

/*.single-candidate-page {*/
/*    background: url(../img/job-details-banniere.jpg) no-repeat;*/
/*    background-size: cover;*/
/*}*/
